.portfolio-text {
  color: white;
  background-color: black;
  border-radius: 18px;
  width: 250px;
  padding: 5px 0px;
  margin: 5px auto;
  position: relative;
  bottom: 75px;
}

.portfolio-pic {
  width: 350px;
  height: 200px;
}

.portfolioimg {
  /* position: relative; */
  width: 100%;
}

.calcpic {
    height: 285px;
}

.githublink {
  background-color: black;
  color: white;
  border-radius: 18px;
  padding: 5px;
  margin: 5px, auto;
  position: relative;
  bottom: 75px;
  text-align: center;
}

.portfolio-column {
  text-align: center;
  width: 350px;
}

.portfolio-link {
  text-align: center;
}

.purpleBox span {
  color: white;
  background-color: #3b2685;
  border-radius: 18px;
  padding: 8px;
  margin: 5px auto;
}

.purpleBox {
  color: white;
  background-color: #3b2685;
  border-radius: 18px;
  padding: 8px;
  margin: 5px auto;
}

#resumelink {
  font-size: 30px;
}

.projectDescription {
  color: black;
  position: relative;
  bottom: 65px;
  left: 5px;
  padding: 0px 20px;
  text-align: left;
}

.portfolioboxes {
  text-align: center;
}

.column {
  float: left;
  width: 25%;
}

@media (min-width: 576px) {
  .portfolio-column {
    padding: 0px, 5px, 5px, 0px;
  }
}

@media (min-width: 768px) {
  .portfolio-column {
    padding: 0px, 5px, 5px, 0px;
  }
}
