/* .projectbutton { 

    background-size: cover; 
    width: 345px; 
    height: 277px; 
    font-size: 2rem;
    color: white;
    padding-top: 200px;
    text-shadow: 2px 2px 8px #3b2685;
}  */

.portfolio-pic {
    /* transform: translateX(-50%);
    left: 50%;
    position: absolute; */
    text-align: center;
}

.portfolio-text {
    color: white;
    background-color: #3b2685;
    border-radius: 18px;
    width: 250px;
    padding: 5px 0px;
    margin: 5px auto;
    position: relative;
    bottom: 75px;
    
}

.githublink {
    background-color: #04c4c7;
    color: white;
    border-radius: 18px;
    padding: 5px;
    margin: auto;
    position: relative;
    bottom: 75px;
    left: 30px;

}

.portfolio-link {
    text-align: center;
}

.purpleBox span {
    color: white;
    background-color: #3b2685;
    border-radius: 18px;
    padding: 8px;
    margin: 5px auto;
}

.purpleBox {
    color: white;
    background-color: #3b2685;
    border-radius: 18px;
    padding: 8px;
    margin: 5px auto;
}

#resumelink {
    font-size: 30px;
}


/* 
#herocraft {
    background-image: url("../img/herocraft.png"); 
}

#roadtrippr {
    background-image: url("../img/rtpic.png"); 
}

#nintracker {
    background-image: url("../img/ntpic.png"); 
}

#weatherdash {
    background-image: url("../img/wtpic.png"); 
}

#notetaker {
    background-image: url("../img/notetpic.png"); 
} */